[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "*"
numpy = "*"
opencv-python = "*"
argparse = "*"
typing = "*"

[dev-packages]

[requires]
python_version = "3"
